/* html, */

body {
    font-family: arial, sans-serif;
    background-color: rgb(151, 144, 144);
}

#gamespace {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

#modele {
    width: 200px;
}

#svgmodele {
    display: none;
}


/* #tapis {
    width: 500px;
}

#tapis svg {
    position: fixed;
    cursor: grab;
} */

#tapis {
    position: relative;
    width: 500px;
}

#tapis svg {
    position: absolute;
    cursor: grab;
}


/* svg:hover{opacity:.5;}
.shape00{clip-path: url(#path_0_0);} */


/* .gbordure {
    filter: url("#pieceBorderFilter");
} */

#results {
    display: none;
    background-color: rgb(206, 247, 27);
}

#choix {
    background-color: rgb(206, 247, 27);
    height: 6em;
}


/* bgcolor choice pure css */

#bgcolor input {
    display: none;
}

.button {
    display: inline-block;
    position: relative;
    width: 30px;
    height: 30px;
    margin: 5px;
    cursor: pointer;
}

.button span {
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    padding: 0;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 100%;
    background: #eeeeee;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    transition: ease .3s;
    z-index: 0;
}

.button span:hover {
    padding: 10px;
    z-index: 1;
}

.orange .button span {
    background: #FF5722;
}

.amber .button span {
    background: #FFC107;
}

.lime .button span {
    background: #8BC34A;
}

.teal .button span {
    background: #009688;
}

.blue .button span {
    background: #2196F3;
}

.indigo .button span {
    background: #3F51B5;
}

.layer {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: transparent;
    /*transition: ease .3s;*/
    z-index: -1;
}

.orange input:checked~.layer {
    background: #F4511E;
}

.amber input:checked~.layer {
    background: #FFB300;
}

.lime input:checked~.layer {
    background: #7CB342;
}

.teal input:checked~.layer {
    background: #00897B;
}

.blue input:checked~.layer {
    background: #1E88E5;
}

.indigo input:checked~.layer {
    background: #3949AB;
}